network:
  version: 2
  ethernets:
    {{ ce_internet_interface }}:
      dhcp4: false
      addresses:
        - {{ ce_internet_cidr }}
      nameservers:
        addresses:
{% for ns in netplan_nameservers %}
          - {{ ns }}
{% endfor %}
      routes:
        - to: default
          via: {{ ce_internet_gateway }}
{% for idx in range(secondary_interface_names | length) %}
{% set iface = secondary_interface_names[idx] %}
{% set nic = _this_vm_interfaces[idx + 1] if (_this_vm_interfaces | length > idx + 1) else {} %}
    {{ iface }}:
{% if nic.dhcp4 | default(false) %}
      dhcp4: true
{% elif nic.ip is defined and nic.ip not in [none, ''] %}
      dhcp4: false
      addresses:
        - {{ nic.ip }}
{% if nic.gw is defined and nic.gw not in [none, ''] %}
      routes:
        - to: default
          via: {{ nic.gw }}
{% endif %}
{% if nic.dns is defined and nic.dns %}
      nameservers:
        addresses:
{% for d in nic.dns %}
          - {{ d }}
{% endfor %}
{% endif %}
{% else %}
      dhcp4: false
{% endif %}
{% endfor %}
{% set _vlan_entries = [] %}
{% for idx in range(_this_vm_interfaces | length) %}
{% set _parent = ce_internet_interface if idx == 0 else (secondary_interface_names[idx - 1] if (idx - 1) < (secondary_interface_names | length) else ('ens' ~ (18 + idx))) %}
{% for vlan in _this_vm_interfaces[idx].vlan_devices | default([]) %}
{% set _ = _vlan_entries.append({'parent': _parent, 'vlan': vlan}) %}
{% endfor %}
{% endfor %}
{% if _vlan_entries | length > 0 %}
  vlans:
{% for entry in _vlan_entries %}
    {{ entry.parent }}.{{ entry.vlan.id }}:
      id: {{ entry.vlan.id }}
      link: {{ entry.parent }}
{% if entry.vlan.ip is defined and entry.vlan.ip not in [none, ''] %}
      addresses:
        - {{ entry.vlan.ip }}
{% endif %}
{% if entry.vlan.gw is defined and entry.vlan.gw not in [none, ''] %}
      routes:
        - to: default
          via: {{ entry.vlan.gw }}
{% endif %}
{% endfor %}
{% endif %}
